<div class="container p-5">
  <div>
    <div class="p-5" style="background-color:#e3d5ff; display:flex; justify-content:space-between; align-items:center;">
      <img id="avatar" src="" style="height: 50px; width: auto; border-radius: 2px;"></img>
      <p id="username"></p>
      <p id="email"></p>

      <button id="logout" class="btn btn-primary">Cerrar sesión</button>
    </div>
  </div>
</div>
<script src="js/home.js"></script>